
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/logo\ trybe-header.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 130px;
}

.title {
  color: aliceblue;
}

.game-container {
  background-color: rgb(96, 194, 139);
}